.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell-fail {
  text-align: center;
  font-weight: bold;
  background-color: #bf4e4e;
  color: #0000ee;
}

.cell-pass {
  text-align: center;
  font-weight: bold;
  background-color: #4caf50;
  color: #000000;
}

.ag-theme-alpine {
  
  --ag-value-change-delta-down-color: rgb(0, 200, 160);
  --ag-value-change-delta-up-color: rgb(255, 0, 80);
}